h1 {
    text-align:center;
}

div {
    text-align:center;
}

input[type=submit] {
    width:250px;
    height:100px;
    padding:14px 20px;
    margin: 8px 0;
    border-radius:4px;
    cursor:pointer;
    font-size:20px;
}

input[type=submit]:hover{
    background-color: darkgrey;
}
input[type=submit]:active {
    background-color: lightgrey;
}

input[type=text] {
    width:1000px;
    height:300px;
}