[submodule "TobiiTracker"]
	path = TobiiTracker
	url = https://github.com/Yejining/TobiiTracker
[submodule "GazeTracker"]
	path = GazeTracker
	url = https://github.com/Yejining/GazeTracker
[submodule "GazeTrackerGame"]
	path = GazeTrackerGame
	url = https://github.com/Yejining/GazeTrackerGame
[submodule "Survey"]
	path = Survey
	url = https://github.com/Yejining/Survey
