<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>rest</title>
    </head>
    <body>
    <h1> 데이터 저장이 완료되었습니다. </h1>
    <h3> 아래 Next 버튼을 누르면 다시 진행됩니다. </h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
        <div id="Next" style="text-align: center">
            <form action={{ link }} method="POST">
                <input type="submit" value="Next">
            </form>
        </div>
      <link href="../static/css/global.css" rel="stylesheet">
  <link href="../static/css/bootstrap.css" rel="stylesheet">
</body>
</html>