<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<link href="/static/css/scatterplot.css?ver=79" rel="stylesheet">
<link href="/static/css/main.css?ver=74" rel="stylesheet">
<link href="/static/css/multiline.css?ver=63" rel="stylesheet">
<link href="/static/css/map.css?ver=67" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js">  </script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<script>
function redata(e){
  document.getElementById("f1").submit();
}
var graphData = {{ data.chart_data | safe }};
var corrData = {{data.corr_data | safe}};
//var multiData = {{data.multi_data | safe}};
</script>


</head>

<style>
#boardList1{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
  height:800px;
  margin:5px;
  float: left;
  border:1px solid #3b3838;
}
#boardList2{
  position: absolute;
  top: 700px;
  left: 10px;
  width: 550px;
  height:200px;
  margin:20px;
  float: left;
  border:1px solid #3b3838;
}
#boardList3{
  position: absolute;
  top: 10px;
  left: 515px;
  width: 1000px;
  height:390px;
  margin:5px;
  float: left;
  border:1px solid #3b3838;
}
#boardList4{
  position: absolute;
  top: 410px;
  left: 515px;
  width: 1000px;
  height:400px;
  margin:5px;
  float: left;
  border:1px solid #3b3838;
}
#scattermatix {
    float:left; /* add this */
}
#lineplot {
    float:left; /* add this */
}
#features {
    float:left;
    margin:0px;
    border:1px solid #3b3838;
    display: none;
}
#sankey_multiple {
    float:left;
    margin:5px;
    border:1px solid #3b3838;
}
#models {
    float:left;
    margin:10px;
    border:1px solid #3b3838;
    display: none;
}
#bubble{
  float:left
}
#bubble1{
  border:1px solid #3b3838;
}
#bubble2{
  border:1px solid #3b3838;
}
#interpolations {
    float:left;
    border:1px solid #3b3838;
    display: none;
}
#sankey_interpolations {
    float:left;
    border:1px solid #3b3838;
}
#map{
  width: 490px;
  height:350px;
  margin:10px;
  float: left;
  #border:1px solid #FFFFFF;
}
#my_dataviz text{
      font : 5px sans-sarif;
    }

#my_dataviz .domain{
        stroke-width : 1px;
}

</style>
<!--<body  style="background-color:#0C090A; color:#FFFFFF;">-->
<body  style="background-color:#111111; color:#FFFFFF;">

<form id="f1" method="POST" action="{{ url_for('response') }}">
<div  id="boardList1" align="center">

  <div id="my_dataviz"></div>
  <div ><canvas id="heatmap"></canvas></div>
  <div id="lineplot" ></div>
  {% if data.result_seoul %}"{{ data.result_seoul[0]['pred'] }}"{% endif %}

</div>



<div  id="boardList3" align="center">
  <div id="features">
    <input type="checkbox" name="feature" value="pm10"> pm10 <br>
    <input type="checkbox" name="feature" value="pm25"> pm25 <br>
    <input type="checkbox" name="feature" value="noise"> noise <br>
    <input type="checkbox" name="feature" value="humi"> humi <br>
    <input type="checkbox" name="feature" value="temp"> temp
  </div>
  <div id="sankey_multiple"></div>
  <div id="models">
    <input type="checkbox" name="model" value="lstm"> lstm <br>
    <input type="checkbox" name="model" value="gru"> gru <br>
    <input type="checkbox" name="model" value="arima"> arima <br>
    <input type="checkbox" name="model" value="ha"> ha <br>
    <input type="checkbox" name="model" value="convlstm"> convlstm<br>
    <input type="checkbox" name="model" value="dcrnn"> dcrnn
  </div>
  <div id="bubble">
    <div id="bubble1"><br /></div>
    <div id="bubble2"></div>
  </div>

  <div id="interpolations">
    <input type="checkbox" name="interpolation" value="RBFnet"> RBFnet <br>
    <input type="checkbox" name="interpolation" value="nearest"> nearest <br>
    <input type="checkbox" name="interpolation" value="linear"> linear <br>
    <input type="checkbox" name="interpolation" value="cubic"> cubic <br>
  </div>
  <!--<div id=sankey_interpolations></div>-->


</br>

</div>

<div  id="boardList4" >

<div style="float: left;" id="map"></div>

<div  style="float: left;">
  <div>
    <br><br>
    <label for="start">Prediction Date:</label>
    <input type="date" id="start" name="trip-start" value="2019-09-05"
          min="2019-09-05" max="2019-10-15" onchange="redata(event);" placeholder="YYYY-DD-MM">
  </div>
    <div id="timeboxplot"></div>

<div id="infomap" style="float: left;margin-left: 50px">
  <div style="float: left;"><img src={% if data.result_seoul %}"{{ data.result_seoul[0]['gt'] }}"{% else %} ""{% endif %}
                              height="120" width="120"></div>
  <div style="float: left;"><img src={% if data.result_seoul %}"{{ data.result_seoul[0]['res'] }}"{% else %} ""{% endif %}
                              height="120" width="120"></div>
  <div style="float: left;"><img src={% if data.result_seoul %}"{{ data.result_seoul[0]['sd'] }}"{% else %} ""{% endif %}
                              height="120" width="120"></div>
  <!--<div style="float: left;"><img src='static/images/results/mse/tmpresult.png'height="120" width="120"></div>
  -->

</div >


</div>



</div>

</form>




<script src="{{ url_for('static', filename='js/scatterplot.js') }}?ver=66"></script>
<script src="{{ url_for('static', filename='js/multiline.js') }}?ver=40"></script>

<script>

mapboxgl.accessToken = 'pk.eyJ1IjoiaHllc29vayIsImEiOiJjazJ5NXc5eXAwMm14M2htbXdrbTJpNDE2In0.JvkmBS1W5x-RxGX4gHFWIQ';
var mapStyle = {
"version": 8,
"name": "Dark",
"sources": {
"mapbox": {
"type": "vector",
"url": "mapbox://mapbox.mapbox-streets-v5"//"mapbox://mapbox.mapbox-streets-v8"
},
"overlay": {
"type": "image",
"url": //"/static/images/tmpresult.png",//"https://docs.mapbox.com/mapbox-gl-js/assets/radar.gif",
{% if data.result_seoul %}"{{ data.result_seoul[0]['pred'] }}",
{% else %} "",
{% endif %}
"coordinates": [
  [126.9890855-0.18307049999999947,37.5679375+0.11933750000000032],
  [126.9890855+0.18307049999999947,37.5679375+0.11933750000000032],
  [126.9890855+0.18307049999999947,37.5679375-0.11933750000000032],
  [126.9890855-0.18307049999999947,37.5679375-0.11933750000000032],
/*
[126.986-0.004,37.541+0.02+0.004],//[-80.425, 46.437],
[126.986+0.004,37.541+0.02+0.004],//[-71.516, 46.437],
[126.986+0.004,37.541+0.02-0.004],//[-71.516, 37.936],
[126.986-0.004,37.541+0.02-0.004],//[-80.425, 37.936]
*/
]
}
},
"sprite": "mapbox://sprites/mapbox/dark-v10",
"glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
"layers": [
{
"id": "background",
"type": "background",
"paint": {"background-color": "#111"}
},
{
"id": "water",
"source": "mapbox",
"source-layer": "water",
"type": "fill",
"paint": {"fill-color": "#2c2c2c"}
},
{
"id": "boundaries",
"source": "mapbox",
"source-layer": "admin",
"type": "line",
"paint": {"line-color": "#797979", "line-dasharray": [2, 2, 6, 2]},
"filter": ["all", ["==", "maritime", 0]]
},
{
"id": "overlay",
"source": "overlay",
"type": "raster",
"paint": {"raster-opacity": 0.85}
},
{
"id": "cities",
"source": "mapbox",
"source-layer": "place_label",
"type": "symbol",
"layout": {
"text-field": "{name_en}",
"text-font": ["DIN Offc Pro Bold", "Arial Unicode MS Bold"],
"text-size": [
"interpolate",
["linear"],
["zoom"],
4, 9,
6, 12
]
},
"paint": {
"text-color": "#969696",
"text-halo-width": 2,
"text-halo-color": "rgba(0, 0, 0, 0.85)"
}
},
{
"id": "states",
"source": "mapbox",
"source-layer": "place_label",
"type": "symbol",
"layout": {
"text-transform": "uppercase",
"text-field": "{name_en}",
"text-font": ["DIN Offc Pro Bold", "Arial Unicode MS Bold"],
"text-letter-spacing": 0.15,
"text-max-width": 7,
"text-size": [
"interpolate",
["linear"],
["zoom"],
4, 10,
6, 14
]
},
"filter": ["==", ["get", "class"], "state"],
"paint": {
"text-color": "#969696",
"text-halo-width": 2,
"text-halo-color": "rgba(0, 0, 0, 0.85)"
}
}
]
};



var map = new mapboxgl.Map({
  container: 'map',
  style: mapStyle,//'mapbox://styles/mapbox/dark-v10',
  center: [126.986,37.541+0.02],//[-75.789, 41.874],//
  zoom: 9.35
});




</script>









<script>
// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 480 - margin.left - margin.right,
    height = 220 - margin.top - margin.bottom;

// parse the date / time
var parseTime = d3.timeParse("%Y%m%d%H%M");
// set the ranges
var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

// define the line
var valueline = d3.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.pm10 ); });

// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#timeline").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");


// Get the data
function drawtimeline(data,f){
  // format the data
  data.forEach(function(d) {
      d.date = parseTime(d.date);
      d[f] = +d[f];
  });

  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d[f]; })]);

  // Add the valueline path.
  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", valueline);

  // Add the X Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
      .call(d3.axisLeft(y));
/*
  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle") // Uses the enter().append() method
      .attr("class", "dot") // Assign a class for styling
      .attr("cx", function(d) { return x(d.date) })
      .attr("cy", function(d) { return y(d[f])})
      .attr("r", 5)//dot size
*/

};
drawtimeline(graphData,"pm10")
</script>



<script type="text/javascript">

function modelselection(e){
  document.getElementById("f1").submit();
}

google.charts.load("current", {packages:["sankey"]});
google.charts.setOnLoadCallback(drawChart);
 function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['from', 'to', 'weight', {role:'style'}],
    {% for record in data.records %}
      [{% for col in ['from', 'to', 'weight', 'style'] %}
        {% if col!="weight" %}'{{record[col]}}',
        {% else %} {{record[col]}}*1,
        {% endif %}
        {% endfor %}],
      {% endfor %}
      ]);
/*var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
                 '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];
*/
var colors = ['white', 'white', 'white', 'white', 'white',
            'white', 'white', 'white', 'white', 'white',
                 'white', 'white', 'white', 'white', 'white'];

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.Sankey(document.getElementById('sankey_multiple'));


  google.visualization.events.addListener(chart, 'select', function() {
      //alert(chart.getSelection());
      var selection = chart.getSelection();
      for(var key in selection) {
        var value = selection[key];
      }
      if(value!=null){
        var valuename=value.name
        //alert('you selected '+value.name);
        var inputs =   document.getElementById("f1")//document.querySelectorAll('.feature');
        if(valuename=="pm10") {inputs[0].checked =(inputs[0].checked -1)*(-1);}//true;
        if(valuename=="pm25") {inputs[1].checked = (inputs[1].checked -1)*(-1);}
        if(valuename=="noise") {inputs[2].checked = (inputs[2].checked -1)*(-1);}
        if(valuename=="humi"){ inputs[3].checked = (inputs[3].checked -1)*(-1);}
        if(valuename=="temp") {inputs[4].checked = (inputs[4].checked -1)*(-1);}

        if(valuename=="lstm") {inputs[5].checked = (inputs[5].checked -1)*(-1);}
        if(valuename=="gru"){ inputs[6].checked = (inputs[6].checked -1)*(-1);}
        if(valuename=="arima") {inputs[7].checked = (inputs[7].checked -1)*(-1);}
        if(valuename=="ha") {inputs[8].checked = (inputs[8].checked -1)*(-1);}
        if(valuename=="convlstm") {inputs[9].checked = (inputs[9].checked -1)*(-1);}
        if(valuename=="dcrnn") {inputs[10].checked = (inputs[10].checked -1)*(-1);}

        if(valuename=="RBFnet") {inputs[11].checked = (inputs[11].checked -1)*(-1);}
        if(valuename=="nearest") {inputs[12].checked = (inputs[12].checked -1)*(-1);}
        if(valuename=="linear") {inputs[13].checked = (inputs[13].checked -1)*(-1);}
        if(valuename=="cubic") {inputs[14].checked = (inputs[14].checked -1)*(-1);}

        var i;
        var colorli=[0,7,8,9,10,1,2,3,4,5,6,11,12,13,14];
        for(i=0; i<colors.length;i++) {
          if(inputs[i].checked) colors[colorli[i]]="red";
          else colors[colorli[i]]="white"
        }
      }
      var options = {
        hAxis: {
          viewWindow: {
            min: 0.0,
            max: 450
          }
        },
        /*vAxis: {
          viewWindow: {
            min: 0.0,
            max: 350
          }
        },*/
        width: 500,
        height: 350,
        sankey: {
          node: {
            colors: colors,//[ 'white' ],
            label: { fontSize: 10 ,color: 'white'},
            nodePadding: 40,
            width: 10,
            labelPadding: 1,
             interactivity: true
          },
          iterations: 0,
          link:{colorMode: 'source'}//{colorMode: 'gradient'} //
        }
      };
      chart.draw(data, options);
  });


     var options = {
       hAxis: {
         viewWindow: {
           min: 0.0,
           max: 450
         }
       },
       /*vAxis: {
         viewWindow: {
           min: 0.0,
           max: 350
         }
       },*/
       width: 500,
       height: 350,
       sankey: {
         node: {
           colors: colors,//[ 'white' ],
           label: { fontSize: 10 ,color: 'white'},
           nodePadding: 40,
           width: 10,
           labelPadding: 1,
            interactivity: true
         },
         iterations: 0,
         link:{colorMode: 'source'}//{colorMode: 'gradient'} //
       }
     };
  chart.draw(data, options);
 }
 //window.onload = function() {window.addEventListener('load', checkAll, false);}
</script>












<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawSeriesChart);
    function drawSeriesChart() {
              var i=1;
              var data_lstm = google.visualization.arrayToDataTable([
                      ['acc','x', 'y','color','size'],
                      ['65%',15, 1, 'red',0],
              		    ['65%',15, 1, 'red',6],
                      {% for record in data.records %}
                        {% if (record['to'] =='lstm'  and  record['style'] != 'color:#111;opacity: 0.0;') %}
                        ["{{record['acc']}}",i++,1,"{{record['style']}}",1],
                        {% endif %}
                        {% endfor %}
                      /*['65%',1, 1, 'red',1],
                      ['65%',2, 1, 'orange',1],
                      ['65%',3, 1, 'green',1]*/
                    ]);
              i=1;
              var data_gru = google.visualization.arrayToDataTable([
                      ['acc','x', 'y','color','size'],
                      ['65%',15, 1, 'red',0],
              		    ['65%',15, 1, 'red',6],
                      {% for record in data.records %}
                        {% if (record['to'] =='gru'  and  record['style'] != 'color:#111;opacity: 0.0;') %}
                        ["{{record['acc']}}",i++,1,"{{record['style']}}",1],
                        {% endif %}
                        {% endfor %}
                      /*['65%',1, 1, 'red',1],
                      ['65%',2, 1, 'orange',1],
                      ['65%',3, 1, 'green',1]*/
                    ]);

            var options = {
              		legend:{position:'none'},
              		series: {'red': {color: 'red'},'green': {color: 'green'},'yellow': {color: 'yellow'},'orange': {color: 'orange'}},
                  width:400,
              		height:30,
              		backgroundColor:'#111',
              		chartArea:{width:400,height:30},
                      bubble: {textStyle: {fontSize: 10, auraColor: 'none'}},
              		hAxis: {
              			viewWindow: {
              				min: 0.0,
              				max: 5
              			}
              		},
              		vAxis: {
              			viewWindow: {
              				min: 0.9,
              				max: 1.1
              			}
              		}
        	  };
    var b1=new google.visualization.BubbleChart(document.getElementById('bubble1'));
    b1.draw(data_lstm, options);
    var b2=new google.visualization.BubbleChart(document.getElementById('bubble2'));
    b2.draw(data_gru, options);

    }

    </script>


    <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'x');
            data.addColumn('number', 'values');
            data.addColumn({id:'i0', type:'number', role:'interval'});
            data.addColumn({id:'i1', type:'number', role:'interval'});
            data.addColumn({id:'i2', type:'number', role:'interval'});
            data.addColumn({id:'i2', type:'number', role:'interval'});
            data.addColumn({id:'i2', type:'number', role:'interval'});
            data.addColumn({id:'i2', type:'number', role:'interval'});

            data.addRows([
                [1, 100, 90, 110, 85, 96, 104, 120],
                [2, 120, 95, 130, 90, 113, 124, 140],
                [3, 130, 105, 140, 100, 117, 133, 139],
                [4, 90, 85, 95, 85, 88, 92, 95],
                [5, 70, 74, 63, 67, 69, 70, 72],
                [6, 30, 39, 22, 21, 28, 34, 40],
                [7, 80, 77, 83, 70, 77, 85, 90],
                [8, 100, 90, 110, 85, 95, 102, 110]]);

                var options = {
                height: 200,
                backgroundColor:'#111',
                legend: {position: 'none'},
                hAxis: {
                  gridlines: {color: '#111'}
                },
                lineWidth: 0,
                series: [{'color': '#D3362D'}],
                intervals: {
                  barWidth: 1,
                  boxWidth: 1,
                  lineWidth: 2,
                  style: 'boxes'
                },
                interval: {
                  max: {
                    style: 'bars',
                    fillOpacity: 1,
                    color: '#777'
                  },
                  min: {
                    style: 'bars',
                    fillOpacity: 1,
                    color: '#777'
                  }
                }
            };

            var chart_lines = new google.visualization.LineChart(document.getElementById('timeboxplot'));
            chart_lines.draw(data, options);
          }
        </script>
















<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<script>

var canvas = document.getElementById('heatmap');
var ctx = canvas.getContext("2d");
var scale = 1/3;

function drawline(data){
    var size = Math.sqrt(data.length);

    var heatmapColor = d3.scaleLinear()
        .domain([d3.min(data, function(d) { return d.corr; }), d3.max(data, function(d) { return d.corr; })])
        .range([ "#fc8d59","#91cf60"]);

    canvas.width = size * scale;
    canvas.height = size * scale;


    data.forEach(function(d){
        //console.log(heatmapColor(d.corr));
        ctx.fillStyle = heatmapColor(d.corr);
        ctx.fillRect(d.x * scale, d.y * scale, (d.x + 1) * scale, (d.y + 1) * scale);
    });
};

drawline(corrData);
    </script>

<script>
  /*
  var colorScale4 = d3.scaleSequential().domain([1,10])
    .interpolator(d3.interpolateViridis);
    */
  var colorScale4 = d3.scaleLinear()
      .domain([-1,1])
      .range([ "#fc8d59","#91cf60"])

continuous("#legend4", colorScale4);




//color legend
function continuous(selector_id, colorscale) {
  var legendheight = 200,
      legendwidth = 80,
      margin = {top: 18, right: 60, bottom: 10, left: 2};

  var canvas = d3.select(selector_id)
    .style("height", legendheight + "px")
    .style("width", legendwidth + "px")
    .style("position", "relative")
    .append("canvas")
    .attr("height", legendheight - margin.top - margin.bottom)
    .attr("width", 1)
    .style("height", (legendheight - margin.top - margin.bottom) + "px")
    .style("width", (legendwidth - margin.left - margin.right) + "px")
    .style("border", "1px solid grey")
    .style("position", "absolute")
    .style("top", (margin.top) + "px")
    .style("left", (margin.left) + "px")
    .node();

  var ctx = canvas.getContext("2d");

  var legendscale = d3.scaleLinear()
    .range([1, legendheight - margin.top - margin.bottom])
    .domain(colorscale.domain());

  var image = ctx.createImageData(1, legendheight);
  d3.range(legendheight).forEach(function(i) {
    var c = d3.rgb(colorscale(legendscale.invert(i)));
    image.data[4*i] = c.r;
    image.data[4*i + 1] = c.g;
    image.data[4*i + 2] = c.b;
    image.data[4*i + 3] = 255;
  });
  ctx.putImageData(image, 0, 0);

  var legendaxis = d3.axisRight()
    .scale(legendscale)
    .tickSize(6)
    .ticks(5);

  var svg = d3.select(selector_id)
    .append("svg")
    .attr("height", (legendheight) + "px")
    .attr("width", (legendwidth) + "px")
    .style("position", "absolute")
    .style("left", "0px")
    .style("top", "0px")

  svg
    .append("g")
    .attr("class", "axis")
    .attr("transform", "translate(" + (legendwidth - margin.left - margin.right + 3) + "," + (margin.top) + ")")
    .call(legendaxis);
};
</script>


<script>

</script>







<script>
  var marginWhole = {top: 10, right: 10, bottom: 10, left: 10},
   sizeWhole = 300 - marginWhole.left - marginWhole.right

var svg = d3.select("#my_dataviz")
     .append("svg")
       .attr("width", sizeWhole  + marginWhole.left + marginWhole.right)
       .attr("height", sizeWhole  + marginWhole.top + marginWhole.bottom)
     .append("g")
       .attr("transform", "translate(" + marginWhole.left + "," + marginWhole.top + ")");


function drawplot(data){
  var allVar = ['pm10','noise','temp','humi','pm25']
  var numVar = allVar.length
  mar = 15
  size = sizeWhole/ numVar

  var position = d3.scalePoint()
    .domain(allVar)
    .range([0,sizeWhole-size])

  var color = d3.scaleOrdinal()
    .domain(["a","b","c"])
    .range([ "#69b3a2", "#404080", "#fccde5"])

    for (i in allVar){
      for (j in allVar){

        // Get current variable name
        var var1 = allVar[i]
        var var2 = allVar[j]
        console.log(i)

        // If var1 == var2 i'm on the diagonal, I skip that
        if (var1 === var2) { continue; }

  //반쪽만 그리기 //scatter plot
      if (i<j){
        // Add X Scale of each graph
        xextent = d3.extent(data, function(d) { return +d[var1] })
        var x = d3.scaleLinear()
          .domain(xextent).nice()
          .range([ 0, size-2*mar ]);

        // Add Y Scale of each graph
        yextent = d3.extent(data, function(d) { return +d[var2] })
        var y = d3.scaleLinear()
          .domain(yextent).nice()
          .range([ size-2*mar, 0 ]);

        // Add a 'g' at the right position
        var tmp = svg
          .append('g')
          .attr("transform", "translate(" + (position(var1)+mar) + "," + (position(var2)+mar) + ")");

        // Add X and Y axis in tmp
        tmp.append("g")
          .attr("transform", "translate(" + 0 + "," + (size-mar*2) + ")")
          .call(d3.axisBottom(x).ticks(3))
          .selectAll("text")
          .attr("dx","-2.5em")
          .attr("dy","-1.3em")
          .attr("transform","rotate(-75)");
        tmp.append("g")
          .call(d3.axisLeft(y).ticks(3));

        // Add circle
        tmp
          .selectAll("myCircles")
          .data(data)
          .enter()
          .append("circle")
            .attr("cx", function(d){ return x(+d[var1]) })
            .attr("cy", function(d){ return y(+d[var2]) })
            .attr("r", 0.4)
            .attr("fill", function(d){ return color(d.sepcolor)})
      }

  //반대쪽
      else{
        // Add X Scale of each graph
        svg
          .append('g')
          .attr("transform", "translate(" + position(var1) + "," + position(var2) + ")")
          .append('text')
            .attr("x", size/2)
            .attr("y", size/2)
            .text("corr : ")
            .attr("text-anchor", "middle")

      }
    }
  }


    // ------------------------------- //
    // Add variable names = diagonal
    // ------------------------------- //
    for (i in allVar){
      for (j in allVar){
        // If var1 == var2 i'm on the diagonal, otherwisee I skip
        if (i != j) { continue; }
        // Add text
        var var1 = allVar[i]
        var var2 = allVar[j]
 /*
        svg
          .append('g')
          .attr("transform", "translate(" + position(var1) + "," + position(var2) + ")")

          .append('text')
            .attr("x", size/2)
            .attr("y", size/2)
            .text(var1)
            .attr("text-anchor", "middle")
*/

                  var tmp = svg
          .append('g')
          .attr("transform", "translate(" + (position(var1)+mar) + "," + (position(var2)+mar) + ")");
if (i==0){
          // add the x Axis
  var x = d3.scaleLinear()
      .domain([-10,30])
      .range([ 0, size-2*mar]);

 tmp.append("g")
      .attr("transform", "translate(0," + 27 + ")")
    .call(d3.axisBottom(x).ticks(3))

          .attr("stroke-width",0.3)
       .selectAll("text")
          .attr("dx","-2.5em")
          .attr("dy","-1.3em")
          .attr("transform","rotate(-75)");


  // add the y Axis
  var y = d3.scaleLinear()
            .range([size-2*mar, 0])
            .domain([0, 0.1]);
 tmp.append("g")
          .call(d3.axisLeft(y).ticks(3))
          .attr("stroke-width",0.3);

}

          if (i==1){
          // add the x Axis
  var x = d3.scaleLinear()
      .domain([40,65])
      .range([ 0, size-2*mar]);

 tmp.append("g")
      .attr("transform", "translate(0," + 27 + ")")
    .call(d3.axisBottom(x).ticks(3))
          .attr("stroke-width",0.3)
                 .selectAll("text")
          .attr("dx","-2.5em")
          .attr("dy","-1.3em")
          .attr("transform","rotate(-75)");


  // add the y Axis
  var y = d3.scaleLinear()
            .range([size-2*mar, 0])
            .domain([0, 0.1]);
 tmp.append("g")
          .call(d3.axisLeft(y).ticks(3))
          .attr("stroke-width",0.3);

}


               if (i==2){
          // add the x Axis
  var x = d3.scaleLinear()
      .domain([1150,1300])
      .range([ 0, size-2*mar]);

 tmp.append("g")
      .attr("transform", "translate(0," + 27 + ")")
    .call(d3.axisBottom(x).ticks(2))
          .attr("stroke-width",0.3)
                      .selectAll("text")
          .attr("dx","-2.5em")
          .attr("dy","-1.3em")
          .attr("transform","rotate(-75)");


  // add the y Axis
  var y = d3.scaleLinear()
            .range([size-2*mar, 0])
            .domain([0, 0.1]);
 tmp.append("g")
          .call(d3.axisLeft(y).ticks(3))
          .attr("stroke-width",0.3);

}


                   if (i==3){
          // add the x Axis
  var x = d3.scaleLinear()
      .domain([60,100])
      .range([ 0, size-2*mar]);

 tmp.append("g")
      .attr("transform", "translate(0," + 27 + ")")
    .call(d3.axisBottom(x).ticks(3))
          .attr("stroke-width",0.3)
                          .selectAll("text")
          .attr("dx","-2.5em")
          .attr("dy","-1.3em")
          .attr("transform","rotate(-75)");


  // add the y Axis
  var y = d3.scaleLinear()
            .range([size-2*mar, 0])
            .domain([0, 0.1]);
 tmp.append("g")
          .call(d3.axisLeft(y).ticks(3))
          .attr("stroke-width",0.3);

}

          if (i==4){
          // add the x Axis
  var x = d3.scaleLinear()
      .domain([-10,30])
      .range([ 0, size-2*mar]);

 tmp.append("g")
      .attr("transform", "translate(0," + 27 + ")")
    .call(d3.axisBottom(x).ticks(3))
          .attr("stroke-width",0.3)
                 .selectAll("text")
          .attr("dx","-2.5em")
          .attr("dy","-1.3em")
          .attr("transform","rotate(-75)");


  // add the y Axis
  var y = d3.scaleLinear()
            .range([size-2*mar, 0])
            .domain([0, 0.1]);
 tmp.append("g")
          .call(d3.axisLeft(y).ticks(3))
          .attr("stroke-width",0.3);

}


  // Compute kernel density estimation
  var kde = kernelDensityEstimator(kernelEpanechnikov(7), x.ticks(60))
  var density1 =  kde( data
      .filter( function(d){return d.sepcolor=== "a"} )
   .map(function(d){  return +d[var1]; }) )

  var density2 =  kde( data
      .filter( function(d){return d.sepcolor === "b"} )
    .map(function(d){  return +d[var1]; }) )

   var density3 =  kde( data
      .filter( function(d){return d.sepcolor === "c"} )
    .map(function(d){  return +d[var1]; }) )



  // Plot the area
  tmp.append("path")
      .attr("class", "mypath")
      .datum(density1)
      .attr("fill", "#69b3a2")
      .attr("opacity", ".6")
      .attr("stroke", "#000")
      .attr("stroke-width", 1)
      .attr("stroke-linejoin", "round")
      .attr("d",  d3.line()
        .curve(d3.curveBasis)
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y(d[1]); })
      );

  // Plot the area
  tmp.append("path")
      .attr("class", "mypath")
      .datum(density2)
      .attr("fill", "#404080")
      .attr("opacity", ".6")
      .attr("stroke", "#000")
      .attr("stroke-width", 1)
      .attr("stroke-linejoin", "round")
      .attr("d",  d3.line()
        .curve(d3.curveBasis)
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y(d[1]); })
      );

           // Plot the area
  tmp.append("path")
      .attr("class", "mypath")
      .datum(density3)
      .attr("fill", "#fccde5")
      .attr("opacity", ".6")
      .attr("stroke", "#000")
      .attr("stroke-width", 1)
      .attr("stroke-linejoin", "round")
      .attr("d",  d3.line()
        .curve(d3.curveBasis)
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y(d[1]); })
      );

             tmp.append('text')
            .attr("x", size/5)
            .attr("y", 0)
            .text(var1)
            .attr("text-anchor", "middle")

tmp.append("circle").attr("cx",25).attr("cy",0).attr("r", 1.5).style("fill", "#69b3a2")
tmp.append("circle").attr("cx",25).attr("cy",4).attr("r", 1.5).style("fill", "#404080")
tmp.append("circle").attr("cx",25).attr("cy",8).attr("r", 1.5).style("fill", "#fccde5")
tmp.append("text").attr("x", 28).attr("y", 0).text("A").style("font-size", "4px").attr("alignment-baseline","middle")
tmp.append("text").attr("x", 28).attr("y", 4).text("B").style("font-size", "4px").attr("alignment-baseline","middle")
tmp.append("text").attr("x", 28).attr("y", 8).text("C").style("font-size", "4px").attr("alignment-baseline","middle")
// Function to compute density
function kernelDensityEstimator(kernel, X) {
  return function(V) {
    return X.map(function(x) {
      return [x, d3.mean(V, function(v) { return kernel(x - v); })];
    });
  };
}
function kernelEpanechnikov(k) {
  return function(v) {
    return Math.abs(v /= k) <= 1 ? 0.75 * (1 - v * v) / k : 0;
  };
}



}
    }}
  drawplot(graphData);
 </script>

 <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->




  </body>
