.modal{
  position: fixed;
  top: 25%;
  left: 25%;
  width: 60%;
  height: 50%;
  background: rgba(255, 255, 255, 1);
  border: 2px solid black; 
}

.sti_con{
  float: left;
  margin-left: 2px;
  width: 48%;
  height: 75%;
  border: 1px solid red;
}
.data_con{
  float: right;
  margin-right: 2px;
  width: 48%;
  height: 75%;
  border: 1px solid green;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
