.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.point {
  fill: #007bff;
  stroke: #000;
}
.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: #007bff;
  stroke-width: 3px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}



header {
  height: 70px;
  font-size: 17px;
  color: white;
  background-color: #2a3042;
}
#wrap {
  display: flex;
  height: 100%;
  background-color: #F8F8F8;
}
#left {
  width: 25%;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid #D8D8D8;
}
#tree_title {
  height: 30px;
  border-bottom: 1px solid #D8D8D8;
}
#right {
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#input_query {
  height: 30px;
  border-bottom: 1px solid #D8D8D8;
}
.input_form {
  display: flex;
}
.input_box {
  width: 100%;
  height: 30px;
  border: none;
}
.input_button {
  height: 30px;
  background-color: #007bff;
  color: white;
  border: 0;
  outline: 0;
}
.input_button:hover {
  background-color: #0069D9;
}
#overview, #list {
  width: 33%;
  text-align: center;
  border-right: 1px solid #D8D8D8;
}
#vlSpec {
  width: 33%;
  text-align: center;  
}
table {
  border-collapse: collapse;
  text-align: left;
  border-top: 1px solid #D8D8D8;
  border-left: 3px solid #0069D9;
}
th {
  font-weight: bold;
  vertical-align: top;
  color: #0069D9;
  border-right: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
}
td {
  vertical-align: top;
  border-right: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
}
footer {
  height: 60px;
  color: #74788D;
  background-color: #F2F2F5;
}