@font-face{
  font-family: SeoulNamsanM;
  src: url(./data/SeoulNamsanM.woff) format('woff');
  font-weight: 400;
}
.save {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  background-color: transparent;
  border-color: transparent;
}
#setting {
  width: 100%;
  margin-bottom: 5px;
}
.setting_form {
  font-size: 15px;
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
}
.setting_submit {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
  color: white;
  background-color: #74788D;
}

#input_query {
  display: flex;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.query_form {
  width: 100%;
}
.query_box {
  float: left;
  width: 90%;
  height: 100%;
  border: none;
  box-shadow: none;
  font-size: 15px;
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
  color: lightgray;
}
.query_submit {
  float: right;
  width: 100px;
  height: 30px;
  margin-left: 5px;
  font-size: 15px;
  border: 0;
  outline: 0;
  font-size: 15px;
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
  color: white;
  background-color: #74788D;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.node {
  cursor: pointer;
}
.node circle {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
.node text {
  font: 12px;
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
}
.link {
  fill: none;
  stroke: lightgray;
  stroke-width: 2px;
}

header {
  height: 70px;
  font-size: 17px;
  font-family: SeoulNamsanM;
  font-weight: bold;
  transform: skew(-0.1deg);
  color: white;
  background-color: #2A3042;
}
#wrap {
  display: flex;
  height: 100%;
}
#left {
  width: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #F2F2F5;
}
#setting_title, #tree_title, #div_title {
  height: 30px;
  font-size: 17px;
  font-family: SeoulNamsanL;
  transform: skew(-0.1deg);
  color: white;
  background-color: #47597E;
}
#right {
  width: 75%;
  margin-top: 5px;
}
footer {
  height: 60px;
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
  color: #74788D;
  background-color: #F2F2F5;
}

#list {
  width: 20%;
  border-right: 3px solid #F2F2F5;
}
#vlSpec {
  width: 30%;
  border-right: 3px solid #F2F2F5;
}
table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-collapse: collapse;
}
th {
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
  border: 1px solid black;
  color: white;
  background-color: #74788D;
}
td {
  font-family: SeoulNamsanM;
  transform: skew(-0.1deg);
  border: 1px solid black;
  background-color: #D8D8D8;
}
